@model DataAccess.Entities.Car

<div class="card">
    <div class="card-header">
            Product Detail Information
    </div>
    <div class="card-body ">
        <div class="d-flex justify-content-between p-3">
            <div class="car-info">
                <h5 class="card-title">@Model.Brand.Name</h5>
                <h6 class="card-text">@Model.Model</h6>
                <p class="card-title">Color: @Model.Color.Name</p>
                <p class="card-title">Car Type: @Model.CarType.Name</p>
                <p class="card-title">Fuel Type: @Model.FuelType.Name</p>
                <p class="card-title">Country: @Model.Country.Name</p>
                <p class="card-title">Region: @Model.Region.Name</p>
                <p class="card-title">Description: @Model.Description</p>
                <span style="margin-left: 25px;" class="badge bg-primary fs-3">@Model.Price$</span>
            </div>
            <img class="image-details"  src="@(Model.ImageUrl ?? "https://img.freepik.com/premium-vector/no-photo-available-vector-icon-default-image-symbol-picture-coming-soon-web-site-mobile-app_87543-18055.jpg")" alt="Car Photo" />
        </div>
        <a asp-action="Index" class="btn btn-dark" style="width: 100%">Back</a>
    </div>
</div>